/*  RESET */

button {
    border:initial;
    background-color: initial;
    color: inherit;
    font: inherit; /* inherit all of fonts (font-family and font-size)*/   
    outline: none; /*We remove ugly outline for TAB on keyboard for focus state*/
}
input {
    font: inherit; /*we want to force all of the input fields to inherit all the styles related to the font*/
    border:none;
    outline:none;
}

@keyframes fade-in-from-top {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fade-in-from-left {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100%
    {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fade-in-from-right{
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.nav-link {
    color: rgba(10,88,212, 0.7);
    transition: all 0.2s;
    animation: fade-in-from-top 1s;
    
}

.nav-link:hover,
.nav-link:focus{
    color: rgba(10,88,212);
    background-color: rgba(10,88,212, 0.2);
    border-radius: 3px;
}

.guid-class {
    animation: fade-in-from-top 1s;
    transition: all 0.5s;
}


.guid-class:focus {
    outline:none;
    transform: scale(1.2);
}

.navbar-brand {
    animation: fade-in-from-top 1s;
}

.input-group-text {
    animation: fade-in-from-left 0.5s;
}

.form-control {
    animation: fade-in-from-right 0.5s;
}

.btn-kupci {
    animation: fade-in-from-right 0.5s;
    width: 40px;
    transition: all 0.5s;
}

.btn-kupci:hover,
.btn-kupci:focus {
    width: 80px;
}

.btn-prodavaci {
    animation: fade-in-from-right 0.5s;
    width: 40px;
    transition: all 0.5s;
}
.btn-prodavaci:hover,
.btn-prodavaci:focus {
    width: 80px;
}

.btn-spremi {
    animation: fade-in 0.5s 0.6s backwards;
    transition: all 0.5s;
}

.btn-spremi:hover {
    transform: scale(1.2);
}

.btn-plus {
    animation: fade-in 0.5s 0.6s backwards;
    width: 40px;
    height: 40px;
    transition: all 0.5s;
}

.btn-plus:hover {
    transform: scale(1.2);
}