/*  RESET */


input {
    font: inherit; /*we want to force all of the input fields to inherit all the styles related to the font*/
    border:none;
    outline:none;
}

@keyframes fade-in-from-top {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fade-in-from-left {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100%
    {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fade-in-from-right{
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.btnCreate {
    transition: all 0.5s;
    animation: fade-in-from-left 1s;

}

.btnCreate:hover,
.btnCreate:focus {
    transform: scale(1.05);  
}

.nav-link {
    color: rgba(10,88,212, 0.7);
    transition: all 0.2s;
    animation: fade-in-from-top 1s;
    
}

.nav-link:hover,
.nav-link:focus{
    color: rgba(10,88,212);
    background-color: rgba(10,88,212, 0.2);
    border-radius: 3px;
}

.guid-class {
    animation: fade-in-from-top 1s;
    transition: all 0.5s;
}


.guid-class:focus {
    outline:none;
    transform: scale(1.2);
}

.navbar-brand {
    animation: fade-in-from-top 1s;
}

.input-group-text {
    animation: fade-in 0.5s;
}

.form-control {
    animation: fade-in 0.5s;
}




.tablica {
    animation: fade-in 1s 0.5s backwards;
}